---
# E: Sets up Home Assistant.
# E Basically, everything that doesn't have to be in the
# main configuration.yaml. Most of the data are now set in the UI
#
# F: Paramétrage de Home Assistant.
# Maintenant la plus part des infos sont configurées dans l'interface.
#
homeassistant:
  # E: Lets me customize individual entities in the UI
  # E: Permettre de customiser les entités via l'UI
  customize: !include ../customize.yaml
