---
# I store a lot of sensor data into InfluxDB, which allows me to query
# a longer history with ease. I use the Community Hass.io add-on for this.
#
# https://github.com/hassio-addons/addon-influxdb
# https://www.home-assistant.io/components/influxdb/
#
influxdb:
  host: !secret local_ip_influxdb
  port: !secret port_influxdb
  database: home-assistant
  username: !secret influxdb_user_name
  password: !secret influxdb_user_password
  max_retries: 3
  default_measurement: state
  include:
    entities:
      # Raspberry monitoring
      - sensor.disk_use_percent
      - sensor.memory_use_percent

      # Internet cnx monitoring
      - sensor.speedtest_download
      - sensor.speedtest_ping
      - sensor.speedtest_upload

      # Outdoor weather monitoring
      - sensor.exterieur_humidity
      - sensor.exterieur_temperature
      - sensor.dark_sky_humidity
      - sensor.dark_sky_precip_accumulation
      - sensor.aurade_wind_speed
      - sensor.aurade_next_rain
      - sensor.aurade_temperature
      - sensor.aurade_weather_alert
      - sensor.aurade_uv

      # Renault Zoe monitoring
      - sensor.zoe
      - sensor.zoe_max_range
      - sensor.zoe_mileage_diff
      - variable.zoe_weekly_mileage

      # Electrical consumtion monitoring
      - sensor.prise_pc_powe
      - sensor.prise_tv_power
      - sensor.linky

      # Commute monitoring
      - sensor.trajet_maison_travail_alex
      - sensor.trajet_maison_travail_benoit

      # Security sensors monitoring
      - sensor.detecteur_de_fumee_temperature
      - binary_sensor.garage_door
      - binary_sensor.main_door
      - binary_sensor.water_leak_sensor_buanderie

      # rooms conditons
      - sensor.temperature_athenais
      - sensor.temperature_noah
      - sensor.temperature_parents
      - sensor.temperature_salon
      - sensor.temperature_soren
      - sensor.temperature_cave
      - sensor.humidity_parents
      - sensor.humidity_cave
      - sensor.humidity_salon

      # scripts
      - script.vacuum_workday_sequence
      - script.launch_daily_vacuum_in_room

      # Others
      - sensor.plex
      - binary_sensor.workday_sensor
      - vacuum.rocky
