---
# The logbook component provides a different perspective on the history of
# your house by showing all the changes that happened to your house in
# reverse chronological order.
#
# https://www.home-assistant.io/components/logbook/
#
logbook:
  include:
    domains:
      - sensor
      - input_boolean
      - input_select
      - binary_sensor
      - vacuum
      - automation
      - device_tracker
      - person
    entities:
      - variable.zoe_weekly_mileage
  exclude:
    entities:
      - sensor.since_last_boot
      - sensor.time
      - automation.update_last_motion
      - automation.notify_zoe_charge_start
      - automation.healthcheck_io_ping_toutes_les_5_minutes
      - automation.check_pool_pump_periodically
      - binary_sensor.presence_couloir_motion
      - binary_sensor.motion_sensor_livingroom
      - binary_sensor.motion_house_meta
      - binary_sensor.capteur_piscine
