*
!*.yaml
!*.py
!scenes
!.gitignore
!automations/
!automations/**
!components
!components/**
!themes
!custom_components
!custom_components/**
!esphomeyaml
!README.md

secrets.yaml
known_devices.yaml
ip_bans.yaml
.DS_Store
