*
!*.yaml
!*.py
!scenes
!.gitignore
!automations/
!automations/**
!components
!components/**
!themes
!custom_components
!custom_components/**
!esphomeyaml
!scripts
!scripts/**
!customizations
!customizations/**
!www
!www/**
!README.md

secrets.yaml
known_devices.yaml
ip_bans.yaml
.DS_Store
zwave_device_config.yaml
export-lovelace.yaml
