---
# FR: Sonnette virtuelle interne
# EN: Virtual internal bell
#
# FR: Un clic sur le boutton Xiaomi déclenche une notification Telegram,
#     les lumières du salon clignotent et un message sur la Google Home.
# EN: Click the Xiaomi button to make living room bulbs flash, send a telegram notification
#     and play a voice message on the Google Home.
#
- alias: "Toc Toc Toc"
  description: Sonnette virtuelle interne
  id: 5c6f8d50-307a-11eb-8655-7fbd7c468bda
  trigger:
    platform: event
    event_type: deconz_event
    event_data:
      id: xiaomi_bouton
      event: 1002
  action:
    - service: light.turn_on
      data:
        entity_id: light.salon
        flash: short
    - delay: 0.5
    - service: light.turn_on
      data:
        entity_id: light.salon
        flash: short
    - delay: 0.5
    - service: light.turn_on
      data:
        entity_id: light.salon
        flash: short
    - service: script.notification_engine
      data:
        who: Moi
        message: "Quelqu'un attend des calins dans la chambre"
    - service: tts.google_translate_say
      entity_id: media_player.google_home
      data:
        message: "Quelqu'un attend des calins dans la chambre"
        language: 'fr'
