---
# Notification on reboot 
#
- alias: notification au reboot de Home Assistant
  initial_state: true
  condition: []
  trigger:
  - event: start
    platform: homeassistant
  action:
  - service: notify.telegram
    data:
      message: "Home Assitant a redémarré !"