---
# EN: Send notificaiton when swiming pool maintenance should be checked.
# FR: Envoie une notification quand il faut vérfier la maintenance de la piscine.
#
- alias: pool_need_to_be_checked
  initial_state: true
  trigger:
    - platform: time
      at: "09:00:00"
  condition: 
    - condition: template
      value_template: >-
        {% as_timestamp(strptime(states('sensor.date'), '%Y-%m-%d')) -
        state_attr('input_datetime.last_maintenance_pool','timestamp') > 86400 * 7 %}
  action:
    - service: notify.telegram
      data_template:
        message: "L'entretien de la piscine n'a pas été fait depuis plus de 7 jours"
