---
# Send Telegram notification when wheather alert is raised.
#
# Send Telegram notification when alert is raised, ends or send a reminder at 7 AM if
# alert is still active.
#
- alias: "Send notification when weather alert is raised"
  trigger:
    - platform: state
      entity_id: sensor.home_weather_alert
  condition:
    - condition: template
      value_template: "{% if is_state('sensor.home_weather_alert', 'Vert')  %}false{% else %}true{% endif %}"
  action:
    - service: notify.telegram
      data_template:
        message: "Alerte météo {{states('sensor.home_weather_alert')}} en cours:\n
          {%- for attr in ['Vent violent', 'Pluie-inondation', 'Orages', 'Inondation', 'Neige-verglas',
                          'Canicule', 'Grand-froid', 'Avalanches', 'Vagues-submersion'] -%}
          {%- if state_attr('sensor.home_weather_alert', attr) != 'Vert' and state_attr('sensor.home_weather_alert', attr) != None %}\n
          - {{attr}}: {{state_attr('sensor.home_weather_alert', attr)}}
          {%- endif -%}
          {%- endfor -%}"

- alias: "Send notification when weather alert ends"
  trigger:
    - platform: state
      entity_id: sensor.home_weather_alert
      to: "Vert"
  action:
    - service: notify.telegram
      data_template:
        message: "Fin de l'alerte météo."
