.clear {
    clear: both;
  }

  .card {
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right:1em;
    position: relative;
  }

  .ha-icon {
    height: 18px;
    margin-right: 5px;
    color: var(--paper-item-icon-color);
  }
  
  .hp-hc-block {
    float: left;
    text-align: right;
  }
  
  .cout-block {
    float: left;
  }
  
  .icon-block {
    float: left;
  }
  .cout {
    font-weight: 300;
    font-size: 4em;
    color: var(--primary-text-color);
    position: absolute;
    right: 0.8em;
  }

  .cout-unit {
    font-weight: 300;
    font-size: 1.5em;
    vertical-align: super;
    color: var(--primary-text-color);
    position: absolute;
    right: 1em;
    margin-top: -14px;
    margin-right: 7px;
  }

  .conso-hp {
    font-weight: 200;
    font-size: 2em;
    color: var(--primary-text-color);
  }

  .conso-hc {
    font-weight: 200;
    font-size: 2em;
    color: var(--primary-text-color);
  }

  .conso-unit-hc {
    font-weight: 100;
    font-size: 1em;
    vertical-align: super;
    color: var(--primary-text-color);
    margin-top: -14px;
    margin-right: 7px;
  }

  .conso-unit-hp {
    font-weight: 100;
    font-size: 1em;
    vertical-align: super;
    color: var(--primary-text-color);
    margin-top: -14px;
    margin-right: 7px;
  }
  
  .more-unit {
    font-style: italic;
    font-size: 0.8em;
  }

  .variations-linky {
    display: inline-block;
    font-weight: 300;
    color: var(--primary-text-color);
    list-style: none;
    margin-left: -2em;
  }

  .variations-linky.right {
    position: absolute;
    right: 1em;
    margin-left: 0;
    margin-right: 1em;
  }

  .unit {
    font-size: .8em;
  }

  .week-history {
    width: 100%;
    margin: 0 auto;
    height: 4em;
  }

  .day {
    display: block;
    width: 20%;
    float: left;
    text-align: center;
    color: var(--primary-text-color);
    border-right: .1em solid #d9d9d9;
    line-height: 2;
    box-sizing: border-box;
  }

  .dayname {
    text-transform: uppercase;
  }

  .week-history .day:first-child {
    margin-left: 0;
  }

  .week-history .day:nth-last-child(1) {
    border-right: none;
    margin-right: 0;
  }

  .cons-val {
    font-weight: bold;
  }

  .linky-icon.bigger {
    width: 6em;
    height: 5em;
    margin-top: -1em;
    margin-left: 2em;
  }

  .linky-icon {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  
  .previous-month {
    font-size: 0.8em;
    font-style: italic;
    margin-left: 5px;
  }