___
name: Home Assistant configuration

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # pip install -r requirements_test_all.txt
      - name: YAML Lint
        run: |
          pip install yamllint
          yamllint .
