---
name: Home Assistant configuration

"on": push

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # pip install -r requirements_test_all.txt
      - name: YAML Lint
        run: |
          pip install yamllint
          yamllint .

  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: Link Checker
        uses: gaurav-nelson/github-action-markdown-link-check@0.4.0

  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: Install dependencies
        run: |
          gem install mdl
          mdl --version
      - name: Markdown lint
        run: |
          mdl --style all --warnings .
